<div class="header" >
 <img style=" max-height: 100%;"src="assets\logo.png" routerLink="/" routerLinkActive="active">
 </div><div class="header">

    <span class="example-spacer"></span>

<button class="gradient stroke"  routerLink="portfolio" routerLinkActive="active">PORTFOLIO</button>

<span class="example-spacer"></span>

<button class="gradient stroke"   routerLink="resume" routerLinkActive="active">RESUME</button>

<span class="example-spacer"></span>


<button class="gradient stroke"   routerLink="contact" routerLinkActive="active">CONTACT</button>

<span class="example-spacer"></span>
</div>



