<div class="footer">
  <p class="">You can find me on:</p>

  <div>
    <a
      class="workLink"
      href="https://www.linkedin.com/in/numan-mumtaz"
      target="_blank"
      ><fa-icon [icon]="faLinkedIn" class="fa-2x"></fa-icon
    ></a>
    <p class="smallertxt">Numan Mumtaz</p>
  </div>

  <div>
    <a class="workLink" href="https://github.com/numan96" target="_blank"
      ><fa-icon [icon]="faGithubSquare" class="fa-2x"></fa-icon
    ></a>
    <p class="smallertxt">Numan96</p>
  </div>

  <div>
    <fa-icon [icon]="faAngular" class="fa-2x"></fa-icon>
    <p>Created with Angular 11</p>
  </div>
</div>
