<div class="skill-bars alignleft">
    <div class="bar">
        <div class="info">
            <span>HTML5</span>
        </div>
        <div class="progress-line html">
            <span></span>
        </div>
    </div>


    
    <div class="bar">
        <div class="info">
            <span>CSS</span>
        </div>
        <div class="progress-line css">
            <span></span>
        </div>
    </div>
    
    
    
    <div class="bar">
        <div class="info">
            <span>Angular 8+</span>
        </div>
        <div class="progress-line angular">
            <span></span>
        </div>
    </div>


    

    <div class="bar">
        <div class="info">
            <span>TypeScript</span>
        </div>
        <div class="progress-line typescript">
            <span></span>
        </div>
    </div>


    <div class="bar">
        <div class="info">
            <span>JavaScript</span>
        </div>
        <div class="progress-line javascript">
            <span></span>
        </div>
    </div>

    




    <div class="bar">
        <div class="info">
            <span>WordPress</span>
        </div>
        <div class="progress-line wordpress">
            <span></span>
        </div>
    </div>


    <div class="bar">
        <div class="info">
            <span>Photoshop</span>
        </div>
        <div class="progress-line photoshop">
            <span></span>
        </div>
    </div>







</div>