<div class="container">
     
        <div class="">
        <p class="smalltxt animationOne maincolour">
           Hey there,</p>

          <p class="bigtxt animationTwo maincolour">My name is Numan Mumtaz. </p>
            
            <p class="bigtxt animationThree maincolour">I am a <b class="lightcolour">Junior Web Developer</b>
           
                based in High Wycombe, England.</p>
<p class="animationFour smalltxt maincolour">I am always striving to learn, wanting to specialise in Angular!</p> 

</div>

    <div class="row">

        <div class="column">
        <h1 class="maincolour padding5 stroke">Most Used Technologies</h1>

        <!-- <mat-chip-list class="padding5"> 
            <mat-chip color="primary" selected>Angular 8+</mat-chip>
            <mat-chip color="primary" selected>TypeScript</mat-chip>
            <mat-chip color="primary" selected>JavaScript</mat-chip>
            <mat-chip color="primary" selected>HTML5</mat-chip>
            <mat-chip color="primary" selected>CSS</mat-chip>
            <mat-chip color="primary" selected>WordPress</mat-chip>
            <mat-chip color="primary" selected>PhotoShop</mat-chip>
        </mat-chip-list> -->

        <app-skill-bar></app-skill-bar>

   </div>

   <div class="column">
    <h1 class="maincolour padding5 stroke">Relevant Work Experience</h1>


    <p class="smalltxt lightcolour">WordPress Site Developer - Vitz Ltd, <a class="workLink" href="https://www.vitzltd.co.uk" target="_blank">vitzltd.co.uk</a></p>
<p class="smallertxt lightcolour">AUGUST 2020 - PRESENT</p>

 </div>


  
<div class="column">
       <h1 class="maincolour padding5 stroke">Education</h1>


       <p class="smalltxt lightcolour">First Class BSc Honours Computer Science (1:1)</p>
       <p class="smallertxt lightcolour">University of Westminster</p>
           
       <p class="smallertxt lightcolour">2014 - 2017</p>

    </div>

   
        <img class="profilepic"  matTooltipPosition="below" matTooltip="My graduation!" matTooltipClass="example-tooltip-blue" src="assets/19961371_10155121504239998_4139175338705381682_n.jpg" alt="Photo of Numan">
  
    
        </div></div>

        
    